

body {
  text-align: center;
  font-family: Helvetica
}

.item {
margin: 10px;
background: #F5F5F5;
padding: 20px;
}

pre {
  text-align: left;
  word-wrap: break-word;
}

#holder { border: 10px dashed #ccc; width: 100px; height: 100px; margin: 20px auto;}
#holder.hover { border: 10px dashed #333; }