

body {
  text-align: center;
  font-family: Helvetica;
  position: relative;
  width: 100%;
  height: 100%;
}

.item {
  margin: 10px;
  background: #F5F5F5;
  padding: 20px;
}

pre {
  text-align: left;
  word-wrap: break-word;
}

#results {
  position: relative;
  margin: 50px;
}
#dropper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#dropper.hover {
  opacity: 0.5;
  background: lightblue;
  z-index: 100;
}