

body {
  text-align: center;
  font-family: Helvetica;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.item {
  position: relative;
  margin: 10px;
  background: #F5F5F5;
  padding: 20px;
}

.remove {
  position: absolute;
  right: 10;
  top: 10;
  opacity: 0.5;
}

textarea {
  width: 100%;
  margin: 2px 0px;
  height: 120px;
  font-family: Courier;
  border: none;
  background: whitesmoke;
}

#results {
  position: relative;
  margin: 50px;
}
#dropper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#dropper.hover {
  opacity: 0.5;
  background: lightblue;
  z-index: 100;
}